@model IEnumerable<WebApp.Models.Company>

@{
    ViewBag.Title = "Companies list";
    Layout = "_Layout";
}

<h1>List of Companies</h1>

<div class="d-flex justify-content-center">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Industry</th>
            <th>Founding year</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var company in Model)
        {
        <tr>
            <td>@company.Name</td>
            <td>@company.Industry</td>
            <td>@company.FoundingYear</td>
            <td>
                <a asp-action="Details" asp-route-id="@company.Id">Reviews</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>